# Develop
.pnpm-store/
node_modules/
# pnpm-lock.yaml should be committed for reproducible builds
out/
dist/
/src/core.lib/common/
devconfig/*
.devcontainer/
.next/
temp/
cache/

# Editor
.vscode/
.idea/*

# macOS
.DS_Store

*.prompt.md
coverage